@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.App,
.layout {
  @apply w-full h-full;
}

body {
  @apply font-inter text-primary-gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout {
  @apply flex flex-col;
}

.layout-content {
  @apply flex flex-row grow;
}

.appbar {
  @apply flex items-center;
  border-bottom: 1px solid #dbdbdb;
  height: 87px;
  min-height: 87px;

  .company {
    @apply flex gap-4 min-w-[250px] justify-center;
  }
}

.sidebar {
  @apply flex flex-col min-w-[250px] w-[250px];
  border-right: 1px solid #dbdbdb;

  .nav-options {
    @apply px-[22px] py-[30px] flex flex-col gap-[25px];

    .option {
      @apply flex items-center gap-4;
    }
  }

  .projects-nav {
    @apply items-center flex flex-col gap-[30px] px-4 mt-[30px] mb-[40px] grow;

    .project-link {
      @apply flex gap-4 items-center justify-start w-full font-medium;
      padding: 10px 12px;
    }

    .active-link {
      background: rgba(80, 48, 229, 0.08);
      border-radius: 6px;

      .expand {
        color: #0d062d;
        fill: #0d062d;
      }
    }
  }
}

.todays-thoughts {
  @apply mx-[22px] rounded-2xl min-h-[200px] bg-primary-gray relative;
  background: #f5f5f5;

  .light-bulb-on-icon {
    @apply absolute rounded-full p-4 top-0;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle at center, #ffff00ad 0%, #f5f5f5 80%);
  }
}

.m-heading {
  @apply text-primary-heading font-semibold;
}

.container {
  @apply mx-auto px-12;
}

.notification-dot {
  @apply w-1.5 h-1.5 absolute top-0 bg-notification-dot rounded-full right-1;
}

.tasks-dashboard {
  @apply flex grow gap-4 mt-10;
  

  .task-list-container {
    @apply p-5 rounded-2xl grow;
    width: 33.33%;
    background-color: #f5f5f5;
  }
}
